@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --color-primary-blue: hsl(231, 69%, 60%);
  --color-primary-red: hsl(0, 94%, 66%);

  --color-blue-light: hsl(229, 8%, 60%);
  --color-blue-dark: hsl(229, 31%, 21%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  @media screen and (max-width: 1150px) {
    font-size: 16px;
  }
  @media screen and (max-width: 900px) {
    font-size: 14px;
  }
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  color: var(--color-blue-dark);
  margin-bottom: 1rem;
}
p {
  color: var(--color-blue-light);
  line-height: 150%;
  margin-bottom: 1.5rem;
}

a {
  font-size: 0.85rem;
}
