.btn {
  text-decoration: none;
  padding: 0.75rem 2.25rem;
  box-shadow: 0 0.5rem 0.5rem hsla(231, 69%, 60%, 0.26);
  border-radius: 5px;

  transition: all 0.2s ease;

  font-weight: 500;

  &:hover {
    background-color: #fff;
  }

  &--primary {
    border: 1px solid var(--color-primary-blue);
    background-color: var(--color-primary-blue);
    color: #fff;

    &:hover {
      color: var(--color-primary-blue);
      background-color: #fff;
    }
  }

  &--secondary {
    border: 1px solid var(#eee);
    background-color: #eee;
    color: var(--color-blue-dark);

    &:hover {
      border: 1px solid var(--color-blue-dark);
      background-color: #fff;
    }
  }
}
