///////////
// HEADER
///////////

.header {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  & img {
    height: 1.5rem;
  }
}

.nav {
  &__link {
    text-decoration: none;
    color: var(--color-blue-dark);
    text-transform: uppercase;
    letter-spacing: 0.15em;

    padding: 0.75rem 2.5rem;

    transition: all 0.2s ease;

    &:hover {
      color: var(--color-primary-red);
    }

    &--login {
      color: #fff;
      background-color: var(--color-primary-red);
      border: 1px solid var(--color-primary-red);
      border-radius: 5px;
      font-weight: 500;

      &:hover {
        color: var(--color-primary-red);
        background-color: #fff;
      }
    }
  }
}

///////////
// HOME-HERO
///////////

.home-hero {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1fr);
  place-content: center;
  place-items: center center;
  gap: 3rem;

  margin: 0rem 8rem;

  min-height: 90vh;

  &__image {
    & img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &__btns {
    display: flex;
    align-items: flex-start;

    & > :last-child {
      margin-left: 0.5rem;
    }
  }
}

.content-wrapper {
  display: grid;
  max-width: 400px;
  grid-template-rows: repeat(3, 1fr);

  &--center {
    place-items: center;
  }
}

///////////
// FEATURES
///////////

.features {
  padding: 0rem 8rem;
  margin: 0 auto;

  & > h2,
  & > p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 3.5rem;

    margin-bottom: 1rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-size: 0.95rem;

    // max-width: 800px;

    & input[type='radio']:checked + label {
      border-bottom: 4px solid var(--color-primary-red);
      color: var(--color-blue-dark);
    }

    &__item {
      padding: 0 4rem 1.5rem 4rem;
      border-bottom: 2px solid #eee;
      cursor: pointer;

      color: var(--color-blue-light);

      &:hover {
        color: var(--color-primary-red);
      }

      &:active {
        border-bottom: 4px solid var(--color-primary-red);
      }
    }
  }
}
.components {
  margin-top: 4rem;
  min-height: 60vh;
}

.component {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  //   gap: 1rem;
  place-items: center center;

  &__image {
    & img {
      object-fit: contain;
      height: 80%;
      width: 80%;
    }
  }
}

.nodisplay {
  display: none;
}

///////////
// DOWNLOADS
///////////
.download {
  text-align: center;

  display: flex;
  flex-direction: column;

  & > p {
    max-width: 600px;
    margin: 0rem auto 2rem auto;
  }
}

///////////
// CARDS
///////////

.cards {
  width: 80%;
  margin: 2rem auto;
  position: relative;

  min-height: 60vh;
}

///////////
// FAQ
///////////

.faq {
  margin: 7rem 0 5rem 0;
  min-height: 80vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin-bottom: 1.5rem;
  }

  & > p {
    margin-bottom: 0;
  }
  & h2,
  & > p {
    max-width: 37.5vw;
  }
}

///////////
// CONTACT
///////////

.contact {
  background-color: var(--color-primary-blue);

  padding: 2.5rem 0;
  max-height: 50vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  place-items: center;

  gap: 1rem;

  &__text {
    color: white;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  & h2 {
    max-width: 30vw;
    text-align: center;
    color: white;
  }

  & input {
    margin-right: 0.5rem;
    padding: 0.75rem 2.5rem 0.75rem 0.5rem !important;
    border: transparent;

    &::placeholder {
      text-align: left;
    }
  }

  & input,
  & button {
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;

    font-weight: 400;
    outline: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
  }
}

///////////
// FOOTER
///////////

.footer {
  background-color: var(--color-blue-dark);
  padding: 0rem 8rem;
  margin: 0 auto;

  min-height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.9rem;

    &:hover {
      color: var(--color-primary-red);
    }
  }

  &__icons > * {
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin-left: 2rem;

    &:hover {
      color: var(--color-primary-red);
    }
  }
}
