///////////
// HEADER
///////////

.header {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  & img {
    height: 1.5rem;
  }
}

.nav {
  &__link {
    text-decoration: none;
    color: var(--color-blue-dark);
    text-transform: uppercase;
    letter-spacing: 0.15em;

    padding: 0.75rem 2.5rem;

    transition: all 0.2s ease;

    &:hover {
      color: var(--color-primary-red);
    }

    &--login {
      color: #fff;
      background-color: var(--color-primary-red);
      border: 1px solid var(--color-primary-red);
      border-radius: 5px;
      font-weight: 500;

      &:hover {
        color: var(--color-primary-red);
        background-color: #fff;
      }
    }
  }
}

///////////
// HOME-HERO
///////////

.home-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  place-content: center;
  place-items: center center;
  gap: 5rem;

  min-height: 90vh;
  width: 100%;

  @media screen and (max-width: 819px) {
    gap: 1rem;
  }

  &__image {
    @media screen and (max-width: 819px) {
      grid-row: 1;
    }
    width: 400px;
    max-width: 80vw;
    & img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &__btns {
    display: flex;
    align-items: flex-start;
    min-width: max-content;

    & > :last-child {
      margin-left: 0.5rem;
    }
  }
}

.content-wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;

  @media screen and (max-width: 819px) {
    text-align: center;
    place-items: center;
  }
}

///////////
// FEATURES
///////////

.features {
  padding: 0rem 8rem;
  margin: 0 auto;

  @media screen and (max-width: 797px) {
    padding: 0rem 2rem;
    margin-bottom: 2rem;
  }

  & > h2,
  & > p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 3.5rem;

    @media screen and (max-width: 797px) {
      padding-left: 0;
    }

    margin-bottom: 1rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    font-size: 0.95rem;

    @media screen and (max-width: 797px) {
      flex-direction: column;
      align-items: center;

      margin: 2rem auto;
    }

    & input[type='radio']:checked + label {
      border-bottom: 4px solid var(--color-primary-red);
      color: var(--color-blue-dark);
    }

    &__item {
      padding: 1rem 4rem 1.5rem 4rem;
      border-bottom: 2px solid #eee;
      cursor: pointer;

      width: 20rem;
      text-align: center;

      color: var(--color-blue-light);
      @media screen and (max-width: 800px) {
        &:first-of-type {
          border-top: 2px solid #eee;
        }
      }

      &:hover {
        color: var(--color-primary-red);
      }

      &:active {
        border-bottom: 4px solid var(--color-primary-red);
      }
    }
  }
}
.components {
  margin-top: 4rem;
  min-height: 60vh;

  @media screen and (max-width: 797px) {
    max-width: 80vw;
    margin: 4rem auto 0 auto;
  }
}

.component {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 5rem;
  place-content: center;
  place-items: center;

  @media screen and (max-width: 795px) {
    text-align: center;
    gap: 2rem;
  }

  & a {
    width: fit-content;
  }

  &__image {
    & img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

.hidden {
  display: none;
}

///////////
// DOWNLOADS
///////////
.download {
  text-align: center;

  display: flex;
  flex-direction: column;

  & > p {
    max-width: 600px;
    margin: 0rem auto 2rem auto;

    @media screen and (max-width: 800px) {
      max-width: 340px;
    }
  }
}

///////////
// CARDS
///////////

.cards {
  width: 80%;
  margin: 2rem auto;
  position: relative;

  min-height: 60vh;

  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: 300px;
    gap: 2rem;
    place-content: center;
  }
}

///////////
// FAQ
///////////

.faq {
  margin: 7rem 0 5rem 0;
  min-height: 80vh;
  text-align: center;

  @media screen and (max-width: 800px) {
    min-height: fit-content;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin-bottom: 1.5rem;
  }

  & > p {
    margin-bottom: 0;
  }
  & h2,
  & > p {
    min-width: 340px;
    max-width: 37.5vw;
  }
}

///////////
// CONTACT
///////////

.contact {
  background-color: var(--color-primary-blue);

  padding: 2.5rem 0;
  max-height: 50vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  place-items: center;

  gap: 1rem;

  @media screen and (max-width: 800px) {
    max-height: fit-content;
  }

  &__text {
    color: white;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  & h2 {
    min-width: 340px;
    max-width: 30vw;
    text-align: center;
    color: white;
  }

  & input {
    margin-right: 0.5rem;
    padding: 0.75rem 2.5rem 0.75rem 0.5rem !important;
    border: transparent;

    @media screen and (max-width: 800px) {
      margin-right: 0;
    }

    &::placeholder {
      text-align: left;
    }
  }

  & input,
  & button {
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;

    font-weight: 400;
    outline: none;
    border-radius: 5px;
    padding: 0.75rem 2rem;
  }

  @media screen and (max-width: 800px) {
    form {
      display: grid;
      gap: 0.5rem;
    }
  }
}

///////////
// FOOTER
///////////

.footer {
  background-color: var(--color-blue-dark);
  padding: 0rem 8rem;
  margin: 0 auto;

  min-height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 800px) {
    display: grid;
    place-content: center;
    // grid-template-columns: max-content;
    gap: 2rem;
    padding: 2rem 8rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: 800px) {
      display: grid;
      gap: 0.5rem;
    }
  }

  &__link {
    @media screen and (max-width: 800px) {
      &:first-of-type {
        margin-top: 1rem;
      }
    }

    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.9rem;

    &:hover {
      color: var(--color-primary-red);
    }
  }

  &__icons > * {
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin-left: 2rem;
    @media screen and (max-width: 800px) {
      &:first-of-type {
        margin-left: 0;
      }
    }

    &:hover {
      color: var(--color-primary-red);
    }
  }
}
